<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="monitor" type="Crypton.TPLinkPlug.InfluxDBSink.Configuration.MonitorSection, Crypton.TPLinkPlug.InfluxDBSink"/>
  </configSections>
  <monitor>
    <!-- Where to write data -->
    <influxdb writeUrl="http://localhost:8086/write?db=mydb" />

    <!-- SmartPlug device IPs or hostnames to query -->
    <devices>
      <add host="192.168.40.13" />
    </devices>
  </monitor>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>